*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#F8FAFC;
color:#0F172A;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 60px;
background:white;
border-bottom:1px solid #E2E8F0;
}

.logo-circle{
width:45px;
height:45px;
border-radius:50%;
background:linear-gradient(to right,#06B6D4,#3B82F6);
}

.nav-links{
display:flex;
gap:30px;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 60px;
}

.hero-left{width:55%;}

.hero-left h1{font-size:65px;}

.hero-left span{
background:linear-gradient(to right,#06B6D4,#3B82F6);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.sos-circle{
width:260px;
height:260px;
border-radius:50%;
background:linear-gradient(to bottom right,#06B6D4,#3B82F6);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
font-size:50px;
border:none;
cursor:pointer;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:25px;
padding:0 60px;
}

.feature-card{
background:white;
padding:30px;
border-radius:25px;
box-shadow:0 10px 30px rgba(0,0,0,0.06);
}

.primary-btn,.secondary-btn,.contact-btn,.share-btn{
padding:16px 28px;
border:none;
border-radius:40px;
cursor:pointer;
}

.primary-btn,.contact-btn{background:#0EA5E9;color:white;}
.secondary-btn,.share-btn{background:#E2E8F0;}

#smsBox{
margin:20px 60px;
padding:15px;
background:#DCFCE7;
border-left:5px solid #22C55E;
}
